PORT=5000
MONGODB_URI=mongodb://localhost:27017/multi_store_db

# Comma-separated list of allowed client origins (Frontend Localhost & Vercel deployment URLs)
CLIENT_URL=http://localhost:3000,https://order-management-system-42rfgu5jn-mahesh-wagh-s-projects.vercel.app
